/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 1.875rem;
}

.header {
    height: 95vh;
    /* we want the gradient over the image, so it is the first parameter */
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    /* start at top left corner and go clockwise */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}

.logo {
    height: 2.2rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* The translate values are referring to the element itself. So, 50% of the width and height. */
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 3.75rem;
    letter-spacing: 2.2rem;
    font-weight: 400;
}

.heading-primary-sub {
    display: block;
    font-size: 1.25rem;
    letter-spacing: 17.4px;
    font-weight: 700;
}